<form [formGroup]="ownerForm" (ngSubmit)="update()">

  <label>
    First Name:
    <input type="text" formControlName="FirstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="LastName">
  </label>

  <label>
    Address:
    <input type="text" formControlName="Address">
  </label>

  <label>
    Phone Number:
    <input type="text" formControlName="PhoneNumber">
  </label>

  <label>
    Pet:
    <input type="text" formControlName="Pet">
  </label>
  <br>
  <br>
  <button type="submit">Update</button>
</form>
