<form [formGroup]="ownerForm" (ngSubmit)="addNewOwner()">

  <label>
    First Name:
    <input type="text" formControlName="FirstName">
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="LastName">
  </label>

  <label>
    Address:
    <input type="text" formControlName="Address">
  </label>

  <label>
    Phone Number:
    <input type="text" formControlName="PhoneNumber">
  </label>

  <label>
    Pet:
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Button dropdown <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li><button type="button" class="btn btn-primary dropdown-item" (click)="openModal(template)">Create template modal</button></li>
      </ul>
    </div>
    <input type="text" formControlName="Pet">
  </label>
  <br>
  <br>
  <button type="submit">Save</button>
</form>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Pet</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    This is a modal.
  </div>
</ng-template>
